:root {
    /* Colors */
    --primaryColor: #000;
    --secondaryColor: #4f96ff;
    --primaryBgColor: #fff;
    --primaryBorderColor: #dee6fb;

    /* Fonts */
    --primaryFont: 'Roboto', sans-serif;
  }
